*{
    margin: 0;
    padding: 0;
}
html{
    font-size:62.5%;
}

/* THE SIDEBAR STARTS HERE */
.current{
    background:#463c37;
    padding:10px;
    border-left: 4px solid seagreen;

}
.navigation{
    position:fixed;
    background: #584b45;
    height:100%;
    width:250px;
    top:0;
    left:0;
    z-index:1;
    border-bottom: 4px dotted #000;
}
.menu{ 
    width:100%;
}
ul{
    box-sizing: border-box;
}
ul :hover{
    background-color:#352d29;
    margin:10px;
    padding:10px;
    border-left: 4px solid seagreen;
}

a > .logo{
    box-sizing: border-box;
    padding:30px 40px 10px 40px;
}
.logo{
    width:100%;
}
.navigation ul li{
    margin: 20px 0;
    font-size:1.5rem
}
.navigation ul li a{
    color:white;
    text-decoration:none;
    padding: 0 25px;
    
}

span  {
    margin-left: 15px;
}
.menu  .contact-us{
    padding-bottom: 10px;
    border-bottom: 1px dashed #000;
}
h3{
    margin-bottom: 15px;
}
i{
    stroke:white;
}
.sicons{
    font-size:2.5rem;
    stroke:whitesmoke;
}
.socials{
    align-items: center;
    box-sizing: border-box;
    padding:0 25px 25px 25px;
    color: white;
    
}
.sicons :hover{
    color:#32b672;
    cursor:pointer;
    
}
/* THE SIDEBAR ENDS HERE */

/* THE MAIN CONTENT STARTS HERE */
.main{
    z-index:1;
    margin-left: 250px;
    object-fit: cover;
    

    
}
.p-title{
    height:43rem;
    background-image: url(../Images/backgroundimage.jpg);
    background-size: cover;
    box-sizing: border-box;
    align-items: center;
    /* background: linear-gradient(to right, rgba(50, 70, 80, 0.7); */

    
}
.title{
    margin-left:auto;
    font-family: "Bitter",serif;
    color: #ffffff;
    font-weight: 200;
    font-size:3rem;
    line-height:6.3rem;
    width:100%;
    transform: translate(30%,80%);
    
}
.tips{
    font-size:2rem;
    font-family: "Bitter",serif;
    color: rgb(255, 255, 255);
    font-weight: 100;
}
span{
    margin-left:50px;
}
.tw{
    margin-left:70px;
}